#public-page {
    background-color: #D8DAD3;
}

#public-jumbotron {
    background-color: #A4C2A5;
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
}

.public-button {
    background-color: #4A4A48;
    color: white;
}