.logo {
    font-family: 'Cairo', sans-serif;
    color: white;
    size: 20pt;
}

.logo-font {
    font-family: 'Cairo', sans-serif;
}

.page-background {
    background-color: #B5B6B0;
    text-align: center;
    padding: 20px;
    background-image: url("dumbbells.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.page-background-noimage {
    background-color: white;
    text-align: center;
}

.register-field {
    margin-bottom: 20px;
    width: auto;
    font-size:12pt;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    display:block;
}

.gray-btn {
    background-color: #45504D;
    color: white;
}

#register-title {
    font-size: 32pt;
}

#main-title {
    color: white;
}

#form-box {
    background-color: #B5B6B0;
    padding: 4%;
    opacity: 0.9;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.error-text {
    font-family: monospace;
}

#public-jumbotron {
    background-color: #B5B6B0;
    padding: 20px;
    opacity: 0.9;
    text-align: left;
}

.white-text {
    color: white;
}

#main-nav {
    background-color: #B5B6B0;
}

#home-page {
    padding: 20px;
}

#home-page-container {
    display: flex;
    height: 500px;
}

.overview-card {
    background-color: #B5B6B0;
    height: 50%;
    width: 50%;
}