{% extends "layout.html" %}

{% block title %}
    Fitscape | Welcome
{% endblock %}

{% block body %}
    <!-- Bootstrap jumbotron -->
    <div class="jumbotron" id="public-jumbotron">
        <h1 id="main-title" class="logo-font">Welcome to Fitscape Planner</h1>
        <p class="white-text">Helping you reach fitness goals through nutrition and excercise tracking</p>
        <p><a class="gray-btn btn btn-lg" href="/login" role="button">Log In</a></p>
        <p><a class="gray-btn btn btn-lg" href="/register" role="button">Register</a></p>
      </div>
    </div>
{% endblock %}