{% extends "layout.html" %}

{% block title %}
    Fitscape | Register
{% endblock %}

{% block body %}
<div id="form-box">
    <h3 class="logo-font white-text">Fitscape</h3>
    <h1 class="white-text" id="register-title">Register</h1>
    <form action="/register" method="post" id="register-form">
        <input autofocus class="register-field" name="username" placeholder="Username" type="text">
        <input class="register-field" name="password" placeholder="Password" type="password">
        <input class="register-field" name="confirmation" placeholder="Confirm Password" type="password">
        <button class="btn gray-btn btn-lg" type="submit">Register</button>
        <input class="btn gray-btn btn-lg" type="button" value="Go Back" onclick="history.back(-1)" />
    </form>
</div>
{% endblock %}
